<div class="container">
  <div class="edit-user">
    <div class="row">
      <div class="col-xs-12 edit-header">
        <h1><%= "Hello #{ @user.name }" %></h1>
      </div> <!-- end 1st column header -->
      <div class="col-xs-12 col-md-4 container-form">
        <div class="wrapper form">
          <h2>Edit Profile</h2>
          <%= cl_image_tag(@user.image, class: 'user-img img-responsive') %>


<%# =========    In case there is any error %>
        <% if @user.errors.any? %>
          <ol>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ol>
        <% end %>
<%# =========================  FORM ======================== %>
          <%= form_for @user, :html => {:multipart => true} do |f| %><%#  we need :html => {:multipart => true} do |f| beacuse we are adding images with cloudinary %>
          <div class="input-group">
            <%= f.text_field :name, :required => true %>
          </div>
          <div class="input-group">
            <%=  f.text_field :email, :required => true %>
          </div>
          <div class="input-group">
            <%= f.text_field :address, :required => true %>
          </div>
          <div class="input-group">
            <%= f.password_field :password, :required =>true %>
            <%= f.label :password, class: 'label' %>
          </div>
          <div class="input-group">
            <%= f.password_field :password_confirmation, :required =>true %>
            <%= f.label :password_confirmation, class: 'label' %>
          </div>
          <div class="input-group">
            <%= cl_image_upload_tag(@user.image) %>
          </div>
          <%= f.submit "Sign Up", :class => 'submit' %>
          <% end %>
        </div>
      </div><!-- end container-form -->
        <div class="col-xs-12 col-md-8 container-terms">
          <div class="row">
            <h2>Your History</h2>
            <div class="col-xs-12 col-md-6 edit-user-products">
              <h3>Your Products</h3>
              <% @user.products.each do |product| %>
                <li><a href="<%=  product_path product %>"><%= product.name %></a></li>
              <% end %>
            </div><!-- end 4th edit-user-products-->
            <div class="col-xs-12 col-md-6 edit-user-bookings">
                <h3>Your Bookings</h3>
                <table class="table">
                  <tbody>
                  <% @user.bookings.each do |booking| %>
                  <tr>
                    <td><strong><%= booking.product.name %>:</strong></td>
                    <td><%= booking.start_time.strftime ('%d of %B, %Y at %I:%M %p') %></td>
                    <!-- .booking_days come from the model booking.rb -->
                  </tr>
                  <% end %>
                  </tbody>
                </table><!-- end table -->
            </div><!-- end 4th edit-user-bookings-->
          </div><!-- end row -->
        </div><!-- end container-term -->
  </div><!-- end edit-user -->
</div><!-- end container -->
