<div class="container-form">
  <div class="">

<%= form_for @product, :html => {:class => "form", :multipart => true} do |f|%> <%#  we need :html => {:multipart => true} do |f| beacuse we are adding images with cloudinary %>

    <div class="col-xs-12 col-md-4 product-new-image">
      <%= file_field_tag("photos[]", :multiple => true ) %>
      <%= f.submit 'submit', :class => 'submit' %>

      <div class="preview"></div>
    </div><!-- end product-image -->
    <div class="col-xs-12 col-md-4 product-new-profile">
      <div class="input-group">
        <%= f.label :name %>
        <%= f.text_field :name, :required => true %>
      </div>
      <div class="input-group">
        <%= f.label :brand %>
        <%= f.text_field :brand, :required => true %>
      </div>
      <div class="input-group">
        <%= f.label :gender %>
        <%= f.text_field :gender, :required => true %>
      </div>
      <div class="input-group">
        <%= f.label :size %>
        <%= f.text_field :size, :required => true %>
      </div>
      <div class="input-group">
        <%= f.label :rate_daily %>
        <%= f.text_field :rate_daily, :required => true %>
      </div>
      <div class="input-group">
        <%= f.label :colour %>
        <%= f.text_field :colour, :required => true %>
      </div>
    </div><!-- end product-new-profile -->
    <div class="col-xs-12 col-md-4 product-new-profile-description">

    <div class="input-group">
      <%= f.label :category %>
      <%= collection_select :product, :category_id, Category.all, :id, :name, :required => true %>
    </div>

          <div class="input-group">
        <%= f.label :description %>
        <%= f.text_area(:description, :required => true, cols: 40, rows: 15, :placeholder => 'Description') %>
  </div>

    </div>
  </div>
</div>
</div>
<% end %>
