<div class="index-female">
  <h1>show all categories here Women</h1>
  <div class="col-xs-12 col-md-8 index-content female-content">
    <h2>Content area</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, odit ratione ipsum eos repudiandae voluptatum. Minima accusantium, commodi quae impedit aspernatur doloremque labore aliquam voluptatibus, exercitationem voluptate consequatur velit non!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, odit ratione ipsum eos repudiandae voluptatum. Minima accusantium, commodi quae impedit aspernatur doloremque labore aliquam voluptatibus, exercitationem voluptate consequatur velit non!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, odit ratione ipsum eos repudiandae voluptatum. Minima accusantium, commodi quae impedit aspernatur doloremque labore aliquam voluptatibus, exercitationem voluptate consequatur velit non!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, odit ratione ipsum eos repudiandae voluptatum. Minima accusantium, commodi quae impedit aspernatur doloremque labore aliquam voluptatibus, exercitationem voluptate consequatur velit non!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, odit ratione ipsum eos repudiandae voluptatum. Minima accusantium, commodi quae impedit aspernatur doloremque labore aliquam voluptatibus, exercitationem voluptate consequatur velit non!</p>
  </div><!-- end index-content -->

  <div class="col-xs-12 col-md-4 index-sidebar female-sidebar">
    <%= render 'search_product_form' %>
    <h2>Side Bar area</h2>
    <% Category.all.each do |category| %>
      <div>
        <h2><%= category.name.capitalize  %></h2>
        <ul>

        <% category.products.where(:gender => 'female').each do |product| %>
          <li><%= link_to product.name, product %></li>
        <% end %>

      </ul>
      </div>
    <% end %>
    <h1><%= @page_title %></h1>
    <% @products.each do |product| %>
      <a href="<%= product_path product %>"> <%# 3 ways product || product_path product.id %>
        <h3><%= product.name %></h3>
      </a>
    <% end %>
  </div><!-- end index-sidebar -->




</div><!-- end index-female -->
