
<script>
var product_results = <%= @found_products[:products].to_json.html_safe %>;
var location_results = <%= @found_products[:locations].to_json.html_safe %>;
var current_user_location = {lat: <%= @current_user.latitude %>, lng: <%= @current_user.longitude %> };
console.log(product_results, location_results);

function showMap(){
  searchResultsMap(current_user_location, location_results);
}
</script>


<div class="container search-results-wrapper">
  <div class="row">
    <div class="col-xs-12 col-md-8 results-content">
      <h2>Search Results for '<%= @search_term %>'</h2>

      <% if @found_products[:products].empty? %>
          <p>No result found</p>
      <% end %>

<div id="results_map"  class="map"></div>


      <% @found_products[:products].each do |key, product| %>
      <a href="<%= product_path product %>"> <%# 3 ways product || product_path product.id %>
        <div class="col-xs-12 col-md-4 wrap-products wrap-results">
        <% if not product.main_image_url.empty? %>
          <figure>
            <img src="<%= product.main_image_url %>" alt="" class="occasion-image img-responsive" />
            <%# To get the image I created a method in product.rb in the model so we can use everywhere in products view, contorller and model  %>
        <% else %>
        <!-- <img class="img-responsive" src="http://www.fillmurray.com/300/200" alt="" /> -->
          <%= image_tag( 'logo.png', :class => 'logo-img img-responsive') %>
        <% end %>
          </figure>
          <div class="wrap-text">
            <h3><%= product.name %></h3>
          </div><!-- end text-container -->
        </div><!-- end wrap-products -->
      </a><!-- end link -->
      <% end %>

    </div><!-- end results-content -->
    <div class="col-xs-12 col-md-offset-1 col-md-3 results-sidebar">
      <h2>Side Bar area</h2>
      <%= render 'search_product_form' %>
      <h3>Categories</h3>
      <% Category.all.each do |category| %>
        <div>
          <h4><%= category.name.capitalize  %></h4>
        </div>
      <% end %>

    </div><!-- end results-sidebar -->
  </div><!-- end row -->
</div><!-- end container -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQhiJp0Ee3xKve1KYOLfVY0kF9lHF1xrc&callback=showMap" async defer></script>
