<div class="container">
  <div class="product-show">
    <div class="row">
      <div class="col-xs-12 product-show-header">
        <h1><%= "#{ @product.name }" %> Products#show  HELLO</h1>
      </div><!-- end product-header -->
      <div class="col-xs-12 col-md-4 product-show-image">

        <%= image_tag @product.main_image.url if @product.main_image %>
        <% @product.carousel_images.each do |image| %>
          <p><%= image_tag image.url  %></p>
        <% end if @product.carousel_images %>
        <p>Carousel</p>
        <% if @product.can_edit?(@current_user) %>
        <%= link_to 'edit', edit_product_path(@product) %>
        <%= link_to 'delete', product_path(@product), :method => :delete, :data => { confirm: "are you sure?" } %>
        <% end %>
      </div><!-- end product-image -->
      <div class="col-xs-12 col-md-4 product-show-profile">
        <li>name: <%= @product.name %></li>
        <li>brand: <%= @product.brand %></li>
        <li>gender: <%= @product.gender %></li>
        <li>size: <%= @product.size %></li>
        <li>colour: <%= @product.colour %></li>
        <li>description: <%= @product.description %></li>
        <li>address: <%= @product.user.address %></li>
      </div><!-- end product-profile -->
      <div class="col-xs-12 col-md-4 product-show-booking-form">
        <%= render 'products/booking_form' %>
      </div><!-- end product-booking-form -->
      <div class="col-xs-12 col-md-12 product-show-booking-list">
        <% @product.bookings.each do |booking| %>
          <p>start time: <%= booking.start_time.strftime ('%d of %B, %Y at %I:%M %p') %>|| end time: <%= booking.end_time.strftime ('%d of %B, %Y at %I:%M %p') %></p>
        <% end if @product.bookings %>
      </div><!-- end product-booking-list -->


      <div id="map" class="map"></div>

    </div><!-- end row -->
  </div><!-- end product-show -->
</div><!-- end container -->


<%# ############################################################################################## %>
<%# ############################## JAVASCRIPT for the APIS ####################################### %>
<%# ############################################################################################## %>
<%# ############################################################################################## %>

<%# this is for the map to get latitude and longitude %>
<script type="text/javascript">
//<%# those are variables we need to use in javascript %>
var myLatLng = {
    lat: <%= @product.user.latitude %>,
    lng: <%= @product.user.longitude %>
};
</script>



<%# <!-- google map API key - AIzaSyDQhiJp0Ee3xKve1KYOLfVY0kF9lHF1xrc -->
 %>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQhiJp0Ee3xKve1KYOLfVY0kF9lHF1xrc&callback=initMap" async defer></script>
