  <div class="container">
    <div class="panel panel-default product-show">
      <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 product-show-header">
          <h1><%= "#{ @product.name }" %></h1>
          <% if @product.can_edit?(@current_user) %>
          <% end %>
        </div><!-- end product-header -->
        <div class="col-xs-12 col-md-4 product-show-image">
          <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
              <div class='carousel-outer'>
                  <!-- Wrapper for slides -->
                  <div class='carousel-inner'>
                      <div class='item active'>
                        <%= cl_image_upload_tag(@product.main_image.url, :width => 300, :height => 350, :class => 'img-responsive') if @product.main_image %>
                      </div>
                      <% @product.carousel_images.each do |image| %>
                      <div class='item'>
                        <%= cl_image_upload_tag(image.url, :width => 300, :height => 350, :class => 'img-responsive')  %>
                      </div>
                      <% end if @product.carousel_images %>

                  </div><!-- end carousel-inner -->

                  <!-- Controls -->
                  <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                      <span class='glyphicon glyphicon-chevron-left'></span>
                  </a>
                  <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                      <span class='glyphicon glyphicon-chevron-right'></span>
                  </a>
              </div><!-- end carousel-outer -->
          </div><!-- end carousel-custom -->
        </div><!-- end product-image -->
        <div class="col-xs-12 col-md-4 col-md-offset-2 product-show-profile">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                  <tr>
                    <td><strong>Name:</strong></td>
                    <td><%= @product.name %></td>
                  </tr>
                  <tr>
                    <td><strong>Brand:</strong></td>
                    <td><%= @product.brand %></td>
                  </tr>
                  <tr>
                    <td><strong>Gender:</strong></td>
                    <td><%= @product.gender %></td>
                  </tr>
                  <tr>
                    <td><strong>Size:</strong></td>
                    <td><%= @product.size %></td>
                  </tr>
                  <tr>
                    <td><strong>Colour:</strong></td>
                    <td><%= @product.colour %></td>
                  </tr>
                  <tr>
                    <td><strong>Description:</strong></td>
                    <td><%= @product.description %></td>
                  </tr>
                  <tr>
                    <td><strong>Address:</strong></td>
                    <td><%= @product.user.address %></td>
                  </tr>
              </tbody>
            </table><!-- end table -->
          </div><!-- end table-responsive -->
          <%= link_to 'edit', edit_product_path(@product) %>
          <%= link_to 'delete', product_path(@product), :method => :delete, :data => { confirm: "are you sure?" } %>
        </div><!-- end product-show-profile -->
      </div><!-- end row -->
      <div class="row booking">
        <div class="col-xs-12 col-md-6 product-show-booking-form">
          <h2>Choose the days you need it</h2>
          <%= render 'products/booking_form' %>
        </div><!-- end product-booking-form -->

        <div class="col-xs-12 col-md-5 product-show-booking-list">
          <h2>Bookings</h2>
          <ol>
            <% @product.bookings.each do |booking| %>
              <li> Booking
                <table class="table">
                  <tbody>
                      <tr>
                        <td><strong>start time:</strong></td>
                        <td><%= booking.start_time.strftime ('%d of %B, %Y at %I:%M %p') %></td>
                      </tr>
                      <tr>
                        <td><strong>End time:</strong></td>
                        <td><%= booking.end_time.strftime ('%d of %B, %Y at %I:%M %p') %></td>
                      </tr>
                  </tbody>
                </table><!-- end table -->
              </li>
            <% end if @product.bookings %>
          </ol>
        </div><!-- end product-booking-list -->
      </div><!-- end row -->
        <div class="col-xs-12 product-show-booking-map">
          <div id="map" class="map"></div>
        </div><!-- end product-booking-map -->

    </div><!-- end panel-body -->
  </div><!-- end end panel panel-default product-show -->
</div><!-- end container -->


<%# ############################################################################################## %>
<%# ############################## JAVASCRIPT for the APIS ####################################### %>
<%# ############################################################################################## %>
<%# ############################################################################################## %>

<%# this is for the map to get latitude and longitude %>
<script type="text/javascript">
//<%# those are variables we need to use in javascript we are using in map.js %>
var myLatLng = {
    lat: <%= @product.user.latitude %>,
    lng: <%= @product.user.longitude %>
};
</script>



<%# <!-- google map API key - AIzaSyDQhiJp0Ee3xKve1KYOLfVY0kF9lHF1xrc -->
 %>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQhiJp0Ee3xKve1KYOLfVY0kF9lHF1xrc&callback=initMap" async defer></script>
