  <div class="container">
    <div class="panel panel-default product-show">
      <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 product-show-header">
          <h1><%= "#{ @product.name }" %></h1>
          <% if @product.can_edit?(@current_user) %>
          <% end %>
        </div><!-- end product-header -->
        <div class="col-xs-12 col-md-4 product-show-image">
          <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
              <div class='carousel-outer'>
                  <!-- Wrapper for slides -->
                  <div class='carousel-inner'>
                      <% @product.carousel_images.each_with_index do |image, i| %>
                      <div class='item <%= 'active' if i == 0%>'>
                        <%= cl_image_tag(image.url, :width => 300, :height => 350, :class => 'img-responsive')  %>
                      </div>
                      <% end if @product.carousel_images %>

                  </div><!-- end carousel-inner -->

                  <!-- Controls -->
                  <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                      <span class='glyphicon glyphicon-chevron-left'></span>
                  </a>
                  <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                      <span class='glyphicon glyphicon-chevron-right'></span>
                  </a>
              </div><!-- end carousel-outer -->
          </div><!-- end carousel-custom -->
        </div><!-- end product-image -->
        <div class="col-xs-12 col-md-4 col-md-offset-2 product-show-profile">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                  <tr>
                    <td><strong>Name:</strong></td>
                    <td><%= @product.name %></td>
                  </tr>
                  <tr>
                    <td><strong>Brand:</strong></td>
                    <td><%= @product.brand %></td>
                  </tr>
                  <tr>
                    <td><strong>Gender:</strong></td>
                    <td><%= @product.gender %></td>
                  </tr>
                  <tr>
                    <td><strong>Size:</strong></td>
                    <td><%= @product.size %></td>
                  </tr>
                  <tr>
                    <td><strong>Colour:</strong></td>
                    <td><%= @product.colour %></td>
                  </tr>
                  <tr>
                    <td><strong>Description:</strong></td>
                    <td><%= @product.description %></td>
                  </tr>
                  <tr>
                    <td><strong>Rate per Day:</strong></td>
                    <td><%= number_to_currency(@product.rate_daily, unit: "AUD $") %></td>
                  </tr>
                  <!-- <tr>
                    <td><strong>Address:</strong></td>
                    <td><%= @product.user.address %></td>
                  </tr> -->
                  <tr>
                    <td><strong>Location:</strong></td>
                    <td><%= @product.user.reverse_geocode[:suburb]%></td>
                  </tr>
              </tbody>
            </table><!-- end table -->
          </div><!-- end table-responsive -->
          <div class="col-xs-12 product-show-booking-map">
            <div id="map" class="map"></div>
          </div><!-- end product-booking-map -->
          <div class="col-xs-12 product-show-buttons">
            <%= link_to 'edit', edit_product_path(@product) %>
            <%= link_to 'delete', product_path(@product), :method => :delete, :data => { confirm: "are you sure?" } %>
          </div>

        </div><!-- end product-show-profile -->
      </div><!-- end row -->
      <div class="row booking">
        <div class="col-xs-12 col-md-6 product-show-booking-form">
          <h2>Choose the days you need it</h2>
          <%= render 'products/booking_form' %>
          <div class="preview-rate" id="preview">
            <p>renting for <span id="days"></span> days </p>
            <p>total price <span id="amount"></span></p>
          </div>
        </div><!-- end product-booking-form -->

        <div class="col-xs-12 col-md-5 product-show-booking-list">
          <h2>Bookings</h2>
          <ol>
            <% @product.bookings.reverse.each do |booking| %>
              <li> Booking
                <table class="table">
                  <tbody>
                      <tr>
                        <td><strong>start time:</strong></td>
                        <td><%= booking.start_time.strftime ('%d of %B, %Y at %I:%M %p') %></td>
                      </tr>
                      <tr>
                        <td><strong>End time:</strong></td>
                        <td><%= booking.end_time.strftime ('%d of %B, %Y at %I:%M %p') %></td>
                      </tr>
                      <tr>
                        <td><strong>Total Price:</strong></td>
                        <td><%= number_to_currency(booking.total_price, unit: "AUD $")  %></td>
                      </tr>
                  </tbody>
                </table><!-- end table -->
              </li>
            <% end if @product.bookings %>
          </ol>
        </div><!-- end product-booking-list -->
      </div><!-- end row -->

    </div><!-- end panel-body -->
  </div><!-- end end panel panel-default product-show -->
  <div id="disqus_thread"></div>
</div><!-- end container -->




<%# ############################################################################################## %>
<%# ############################## JAVASCRIPT for the APIS ####################################### %>
<%# ############################################################################################## %>
<%# ############################################################################################## %>

<%# this is for the map to get latitude and longitude %>
<script type="text/javascript">
//<%# those are variables we need to use in javascript we are using in map.js %>
var myLatLng = {
    lat: <%= number_with_precision(@product.user.latitude, :precision => 2) %>,
    lng: <%= number_with_precision(@product.user.longitude, :precision => 2) %>
};

var rate = <%= @product.rate_daily %>;
</script>



<%# <!-- google map API key - AIzaSyDQhiJp0Ee3xKve1KYOLfVY0kF9lHF1xrc -->
 %>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQhiJp0Ee3xKve1KYOLfVY0kF9lHF1xrc&callback=initMap" async defer></script>








 <%# DISQUS code, to show disqus in our occasion page %>
 <script>
 var disqus_config = function () {
     this.page.url = '<%= product_url(@product) %>'  // Replace PAGE_URL with your page's canonical URL variable
     this.page.identifier = '<%= @product.id %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
 };
 (function() { // DON'T EDIT BELOW THIS LINE
     var d = document, s = d.createElement('script');
     s.src = '//https-prestado-herokuapp-com.disqus.com/embed.js';
     s.setAttribute('data-timestamp', +new Date());
     (d.head || d.body).appendChild(s);
 })();
 </script>
 <noscript>
  <p>Please enable JavaScript to view the comments.</p>
 </noscript>
