<div class="product-show">
  <div class="row">
    <div class="col-xs-12 product-show-header">
      <h1><%= "#{ @product.name }" %> Products#show </h1>
    </div><!-- end product-header -->
    </div><!-- end row -->
    <div class="col-xs-12 col-md-4 product-show-image">
      <%= image_tag @product.main_image.url %>
      <% @product.carousel_images.each do |image| %>
        <p><%= image_tag image.url %></p>
      <% end %>
      <p>Carousel</p>
    </div><!-- end product-image -->
    <div class="col-xs-12 col-md-4 product-show-profile">
      <li>name: <%= @product.name %></li>
      <li>brand: <%= @product.brand %></li>
      <li>gender: <%= @product.gender %></li>
      <li>size: <%= @product.size %></li>
      <li>colour: <%= @product.colour %></li>
      <li>description: <%= @product.description %></li>
      <li>address: <%= @product.user.address %></li>
    </div><!-- end product-profile -->

</div><!-- end product-show -->
