<header id="mainnav" class="navbar navbar-default mainnav">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3 logo logo-img">
        <p>where the logo goes</p>
      </div> <!-- end logo -->
      <nav class="col-xs-12 col-sm-9">
        <ul class="nav navbar-nav">
          <li><%= link_to 'home', root_path %></li>
          <% if @current_user.present? %>
            <li><%= link_to "Products", products_path %></li>
            <li><%= link_to "Edit profile", edit_user_path(@current_user) %></li>
            <li><%= link_to "Logout #{ @current_user.name }", login_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to 'Sign up', new_user_path %></li>
          <% end %>
        </ul>
      </nav><!-- end nav -->
    </div> <!-- end row -->

  </div>   <!-- end container -->
</header>
<div class="col-xs-12 login">
  <% unless @current_user.present? %>
    <%= form_tag '/login' do %>
      <%=  text_field :email, nil, placeholder: 'email', :required => true %>
      <%= password_field_tag :password , nil, placeholder: 'password', :required => true %>
      <%= submit_tag 'login' %>
    <% end %>
  <% end %>
</div><!-- end login -->
