<!DOCTYPE html>
<html>
<head>
  <title>Prestado</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= cloudinary_js_config %>

  <%= csrf_meta_tags %>




</head>
<body>
<%= render "layouts/header" %>

  <% if flash[:message] %>
    <% flash.each do |name, message| %>
    <%= content_tag(:div, message, class: "alert alert-info") %>
    <% end %>

  <% end %>
  <div class="contenedor">
    <%= yield %>
  </div>



  <%= render "layouts/footer" %>



</body>
</html>
